#nav{
text-align: right;
padding: 20px;
background-color: #EBADB8;

}

a{
    color: black; 
    text-decoration: none;
    padding: 20px;
}

a:hover{
    background-color: #7C6450;
    color: white;
}

#header{
    position: absolute; 
    top: 200px; 
    left: 300px;
    width: 500px;
}

h1{
    color: #7C6450;
}

#image{
    position: absolute; 
    top: 150px; 
    right: 300px;
    width: 250px; 
    height: 250px;
}

#project1{
    width: 900px; 
    height: 300px; 
    position: relative; 
    top: 400px;
    background-color: #CFE3B5; 
    border-radius: 25px;
    color: #7C6450;
}

#project2{
    width: 900px; 
    height: 300px; 
    position: relative; 
    top: 420px;
    background-color: #EBADB8; 
    border-radius: 25px;
    color: #7C6450;
}

#photo{
    position: absolute; 
    top: 200px; 
    left: 250px;
    width: 300px;
    height: 400px; 
    background-color: lightgreen;
}

#about{
    position: absolute;
    top: 190px; 
    left: 600px;
}

#desc{
    position: absolute;
    top: 300px; 
    left: 600px; 
    width: 600px; 
    height: auto; 
    font-size: 16px;
    color: #7C6450;
}

#resumebutton{
    position: absolute; 
    top: 500px; 
    left: 600px;
}

input#resume{
    background-color: #EBADB8; 
    width: 75px; 
    height: 35px;
    border: solid black, 1px;
    text-align: center;
}

#contact_text{
    position: absolute; 
    left: 350px; 
    width: 750px;
    text-align:left;
}

